@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
    background-color: rgb(17, 17, 17);
}

/* .doc * {
    transition: background-color 0.25s ease-in-out;
} */

.prose pre {
    filter: invert(1) hue-rotate(180deg) brightness(1.01);
}

.icon-button-md svg {
    width: 20px;
    height: 20px;
    pointer-events: none;
}

.Toastify > div > div {
    top: 18px;
}

.tippy-popper[aria-hidden="true"] {
    display: none;
}